// Make sure the charset is set appropriately
@charset "UTF-8";

// Global Foundation Settings
@import "foundation/settings";

// You can import only specific elements by adjusting the import below
@import "foundation";

body {
    background: url(../../images/bracelet-background.jpg) repeat;
}


.panel {
    border-color: #222;
    background: #111;
    border-radius: 10px;

    h1, h2 {
      color: #00ccff;
      font-weight: 300;
    }

    h3, h4, p {
        color: #ff2f96;
        font-weight: 300;
    }

    &.secondary {
        h1 {
            color: #00ff9c;
            font-size: 1.75rem;
        }

        h2 {
            color: #00ff9c;
            font-size: 1.125rem;
        }

        p, ol {
            font-weight: 300;
            color: #ffe5f4;
        }
    }

}


.panel.video {
	padding: 1.5rem 1.5rem 1.5rem 2.5rem;
}

.video-container {
    position: relative;
    padding-bottom: 62.55%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
}

@media only screen and (min-width:40.063em) {

    .video-container {
        padding-bottom: 31.25%;
    }

  .panel h1, .panel h2 {
    font-weight: 100; }
  .panel h3, .panel h4, .panel p {
    font-weight: 100; }
  .panel.secondary p, .panel.secondary ol {
    font-weight: 100;}

}